
<h1>Sample App</h1>
<p>
		This is the home page for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p>
<p>
		rick
		Debug: Started Chapter 5.2.2<br>
		heroku: <a href="http://blazing-sword-31.heroku.com">blazing-sword-31</a>
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>